[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Cooktimer
Icon=cooktimer
Exec=cooktimer

[X-HarbourBackup]
BackupPathList=.local/share/cooktimer/:.config/cooktimer

[X-Sailjail]
Sandboxing=Disabled
